.bullets {
  align-items: center;
  min-height: 100vh;
  margin-top: 6.25rem;
}

@media screen and (min-width: 800px) {
  .bullets__container {
    display: grid;
    grid-column-gap: 0.625rem;
    grid-template-columns: repeat(12, 7.3%);
  }
}

.bullets__title-container {
  overflow: auto;
}

@media screen and (min-width: 800px) {
  .bullets__title-container {
    grid-column-start: 2;
    grid-column-end: 12;
  }
}

@media screen and (min-width: 800px) {
  .bullets__headline {
    margin-top: 6.25rem;
    grid-column-start: 2;
    grid-column-end: 13;
  }
}

.list__container {
  grid-row: 3;
  margin-bottom: 4rem;
}

@media screen and (min-width: 800px) {
  .list__container {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 800px) {
  .list__container--first {
    grid-column-start: 2;
    grid-column-end: 7;
  }
}

@media screen and (min-width: 800px) {
  .list__container--second {
    grid-column-start: 8;
    grid-column-end: 12;
  }
}

@media screen and (min-width: 800px) {
  .list__container--last {
    grid-column-start: 9;
    grid-column-end: 13;
  }
}

.list__container__arrow {
  background-image: url("../images/arrow-right.png");
  background-repeat: no-repeat;
  background-size: contain;
  grid-row: 3;
  width: 1.5rem;
  height: 1.5rem;
}

.list__element {
  font-size: 14px;
  padding-bottom: 0.5rem;
}


@media screen and (min-width: 800px) {
  .list__element {
    font-size: 16px;
    padding-bottom: 1.5rem;
  }
}

.list__headline {
  padding-bottom: 0.5rem;
}

@media screen and (min-width: 800px) {
  .list__headline {
    margin-top: 0.25rem;
    padding-bottom: 1rem;
  }
}