.hero {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding: 3.125rem 0;
  min-height: 100vh;
}

@media screen and (min-width: 800px) {
  .hero {
    display: grid;
    grid-column-gap: 0.625rem;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 2rem auto;
    margin-bottom: 6.25rem;
    width: 100%;
  }
}

.hero__container {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

@media screen and (min-width: 800px) {
  .hero__container {
    grid-column-start: 2;
    grid-column-end: 12;
  }
}

.hero__container__headline {
  margin-top: 3.125rem;
}

@media screen and (min-width: 800px) {
  .hero__container__headline {
    margin-top: 6.25rem;
  }
}

.hero__tooltip {
  background-color: #FFD3D8;
  font-size: 1rem;
  line-height: 1rem;
  padding: 1rem;
  position: absolute;
  top: -100%;
  left: 50%;
  transform: translateX(-50%);
}

.hero__tooltip:hover {
  color: #320096;
}

.hero__tooltip:before {
  content: "";
  display: block;
  width: 0; 
  height: 0; 
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  border-top: 0.5rem solid #FFD3D8;
  position: absolute;
  bottom: -0.45rem;
  left: 50%;
  transform: translateX(-50%);
}
