.header {
  background-color: #FFF5EB;
  position: fixed;
  top: 0;
  left: 1.5rem;
  right: 1.5rem;
  z-index: 1;
}

@media screen and (min-width: 450px) {
  .header {
    left: 3rem;
    right: 3rem;
  }
}